<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% include ../menu %>
    <p><%=title%></p>
    <% include ../login/message %>
    <form  method='post' action="/showInfo">
      <p><input type="submit" value="查询" /></p>
    </form>
    <% if(typeof(dataList)=="string"){ %>
      <p > <%=dataList%> </p>
    <% }else{ %>
      <% dataList.forEach(function(data){ %>
        <div class="ently">
          <h3><%= data.title %></h3> 
          <p><%= data.body %></p>
        </div>
      <% }) %>
     <% } %>
    <% include ../page %>
  </body>
</html>
